body{
    background-color: beige;
}

P{
    border: 2px solid rgb(8, 178, 181);
    border-radius: 5px;
    border-bottom-width: thin;
}
img {
    border: 1px solid blueviolet;
    border-radius: 5px;
}
img.simboli
{
border-top-right-radius: 2cm;

}
div.full
{
    min-height: 100px;
    border-style: dotted;
    display: grid;
    grid-template-columns: 60% 40%;

}
div.left{
    min-height: 70%;
background-color: lightskyblue;
}
div.right{
    min-height: 70%;
background-color: lightcyan;
}